body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
    user-select: none;
    background: #aebcc8;
    

}

.container {
    height: 400px;
    width: 500px;
    background: rgb(197, 165, 185);
    margin-left: 1.8em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 13px 13px 20px #243140,
        -13px -13px 20px #8cafb7;
}

.row button {
    width: 70px;
    height: 53px;
    font-size: 16px;
   background: #80bbce;
    border: none;
    /* outline: none; */
    margin: 5px;
    border-radius: 4px;
    transition: .1s;
    box-shadow: 5px 5px 8px #00000020,
        -5px -5px 8px #6fa0b2;
}

.row button:hover {
    box-shadow: inset 5px 5px 8px rgba(110, 191, 187, 0.1),
        inset -3px -3px 8px #2e697a;
    background: #83cad2;
}

.display #screen {
    margin-bottom: .5em;
    width: 475px;
    height: 70px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background: #ccdae4;
    border-radius: 6px;
    box-shadow: inset 3px 3px 8px #5d88b3,
        inset -3px -3px 4px #3e7578;
}

#eval {
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff,
        inset -5px -5px 8px #00ace6;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #00ace6,
        inset -5px -5px 8px #00ace6;
}

#ac {
    background: #33cc33;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #2eb82e,
        inset -5px -5px 8px #33cc33;
}

#ce {
    background: #ff3399;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #e60073,
        inset -5px -5px 8px #ff3399;
}